* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.article section img {
    height: 300px;
    width: auto;
    border: 2px solid black;
    border-radius: 50%;
}

.article section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.header nav a {
    border: 3px solid black;
    border-radius: 50%;
    display: block;
    margin: 10px;
    height: 50px;
    width: 50px;
    transition: .3s;
}

.header nav a:hover {
    height: 60px;
    width: 60px;
}

.header nav a:nth-child(1), #pagina_uno {
    background-color: brown;
}

.header nav a:nth-child(2), #pagina_dos {
    background-color: rgb(38, 185, 136);
}

.header nav a:nth-child(3), #pagina_tres {
    background-color: rgb(192, 207, 53);
}

.header nav a:nth-child(4), #pagina_cuatro {
    background-color: rgb(65, 96, 182);
}