* {
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
    box-sizing: border-box;
}

html {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(51, 167, 235), rgb(0, 65, 185));
    padding-left: 10px;
    padding: 10px;
    min-height: 7vh;
    position: fixed;
    width: 100%;
    flex-wrap: wrap;
    z-index: 100;
}

.logo a img {
    height: 70px;
    border-radius: 15px;
}

a {
    text-decoration: none;
    color: black;
}

.nav-bar a {
    padding-right: 20px;
    transition: .2s;
    font-size: 20px;
}

.nav-bar a:hover {
    color: white;
}

#turno {
    color: white;
    border: 2px solid blue;
    padding: 10px;
    background-color: blue;
    border-radius: 15px;
    transition: .2s;
}

#turno:hover {
    color: black;
    background-color: rgb(51, 180, 240);
    border: 6px solid rgb(51, 180, 240);
}

.inicio {
    margin-top: 9.8vh;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 10px;
    background-color: rgb(24, 182, 255, 30);
    height: 200vh;
    flex-wrap: wrap;
}

.conteiner-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 500ms ease;
}

.conteiner-img {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 200px;
    width: 300px;
    border: 2px solid rgb(0, 110, 255);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
}

.conteiner-img:hover img {
    filter: blur(3px);
    transform: scale(1.2);
}

.texto {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.texto p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    color: white;
    display: none;
}

.conteiner-img:hover .texto p {
    visibility: visible;
    display: block;
}

.conteiner-img:hover {
    background: rgba (0, 0, 0, .7);
}

.conteiner-img:hover .texto {
    background-color: rgba(0, 0, 0, 0.7);
}
